.wrapper {
  position: relative;
  margin-bottom: 25px;
}
#secondColumn {
  height: 82%;
}

.wrapper input {
  font-size: 12px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.2s ease all;
  margin-top: 25px;
}
#shoppingInput {
  margin-top: 0px;
  font-size: 14px;
}
#shoppingInput label {
  left: 75px;
}

.wrapper textarea {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.2s ease all;
  margin-top: 25px;
  height: 100%;
  resize: none;
}
.wrapper input:focus,
.wrapper textarea:focus {
  outline: none;
  border-bottom: transparent;
}
.wrapper label {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
.required:focus ~ label,
.required:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: #f47a20;
  border-bottom: transparent;
}

.placeholder:not(:placeholder-shown) ~ label,
.placeholder:focus ~ label {
  top: -15px;
  font-size: 12px;
  color: #f47a20;
  border-bottom: transparent;
}

.bar {
  position: relative;
  display: block;
  width: 250px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f2a22c;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight,
textarea:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: f2a22c;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: f2a22c;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: f2a22c;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@media (max-width: 600px) {
  #secondColumn {
    height: 87%;
  }
}
