main {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.hero-container {
  min-width: 40vw;
  margin: 2vw;
}
.hero-container > .button {
  width: 50%;
  margin: 0 auto;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  max-width: 320px;
  min-width: 350px;
  flex: 0 0 50%;
  margin: 10px 10px;
  flex-grow: 1;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.articles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px auto;
  flex-wrap: wrap;
}

.hero {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/pictures/rsz_main_photo.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-size: 50px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.92);
  color: #ff9800;
}

.hero button {
  font-size: 25px;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

h3 {
  width: 100%;
  color: white;
  font-size: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
}

article > header {
  padding: 16px 24px;
  background-color: #f2a22c;
  font-size: 1.125rem;
  color: #fff;
  text-transform: uppercase;
}
article > p {
  padding: 0 20px;

  font-size: 1.125rem;

  color: rgba(0, 0, 0, 0.54);
}
article > footer {
  background-color: transparent;
}
.myButton {
  background-color: #a8a8a81c;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #00000080;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1px;
  padding: 10px 16px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s linear;
}
.myButton:hover {
  background-color: #e8e8e8;
  transition: all 0.3s linear;
}
.arrow {
  position: absolute;
  top: 50%;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid #00000030;
  border-right: 1vmin solid #00000030;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
  right: 20px;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
  border-color: orange;
  box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}
@media all and (max-width: 480px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}
